.header-bar {
  margin-bottom: 12px;
}

.body-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.popular-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.all-popular-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: transparent;
  width: 88%;
  margin: auto;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0px;
}
